.form {
    width: 100%;
    max-width: 900px;
    margin: 40px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 0 20px 0 20px;
    border-radius: 10px;
}

.form-title {
    padding-top: 20px;;
    margin-bottom: 60px;
}

.form h2 {
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
}

.fields_container {
    display: flex;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 60px;
}

.field {
    flex: 6;
    display: flex;
}

.field_participants {
    flex: 6;
    display: flex;
}

.add_button {
   padding: 0;
   margin-right: 15px;
   background-color: transparent;
   border: none;
   color: #00838f;
   cursor: pointer;
}

.field-range  {
    flex: 6;
    display: flex;
    flex-direction: column;
    margin-top: -10px;;
}

.response-container {
    display: flex;
    justify-content: space-between;
}

.response-container label,
.response-container span {
    color: #777;
}

.input{
    width: 100%;
    background-color: white;
    margin-right: 10px;
    height: 25px;
    border: none;
    border-bottom: 1px solid #555;
    font-size: 15px;
}

.input:focus {
    outline: none;
    border-bottom-color: #00838f;
}

input[type=range] {
    width: 100%;
    margin: 3.8px 0;
    background-color: transparent;
    -webkit-appearance: none;
    position: relative;
    border: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    background: #eee;
    border-radius: 25px;
    width: 100%;
    height: 5px;
    cursor: pointer;
    margin-top: 0px;
  }
  input[type=range]::-webkit-slider-thumb {
    margin-top: -5px;
    width: 16px;
    height: 16px;
    background: #00838f;
    border: 0.5px solid white;
    border-radius: 50%;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #eee;
  }
  input[type=range]::-moz-range-track {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
  }
  input[type=range]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 4.8px 0;
    color: transparent;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
  }
  input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
  }
  input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
  }
  input[type=range]::-ms-thumb {
    width: 16px;
    height: 16px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
  }
  /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/
  @supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
      margin: 0;
      /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
  }

.mr-0 {
    margin-right: 0 !important;
}

.button_start_game {
    padding-bottom: 30px;
    display: flex;
}

.start {
    border: none;
    outline: none;
    padding: 10px 24px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00838f;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s;
    margin-right: 15px;
}

.cancel {
    border: 1px solid #00838f;
    outline: none;
    padding: 10px 24px;
    font-size: 18px;
    font-weight: 600;
    background-color: transparent;
    color: #00838f;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.5s;
}